@use '../../_css/common.scss' as *;

.productHero {
  display: flex;
  gap: 28px;

  @include mid-break {
    flex-direction: column;
    gap: var(--base);
  }
}

.details {
  width: 100%;
  flex: 1;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--base);

  @include mid-break {
    width: 100%;
    gap: calc(var(--base) / 2);
  }
}

.categories {
  font-size: 12px;
}

.title {
  margin: 0;
}

.warning {
  margin-bottom: calc(var(--base) * 1.5);
}

.description {
  margin: 0;
  margin-top: 12px;
}

.media {
  width: 100%;

  @include mid-break {
    width: 100%;
  }
}

.mediaWrapper {
  text-decoration: none;
  display: block;
  position: relative;
  aspect-ratio: 5 / 4;
  margin-bottom: calc(var(--base) / 2);
  width: 40%;
  // width: 100%;
  background-color: var(--color-base-200);
  padding: 24px;

  @include mid-break {
    margin-left: calc(var(--gutter-h) * -1);
    width: calc(100% + var(--gutter-h) * 2);
  }
}

.image {
  padding: 24px;
  object-fit: contain;
}

.placeholder {
  background-color: var(--theme-elevation-50);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryWrapper {
  display: flex;
  align-items: center;
}

.separator {
  margin: 0 4px;
}

.instock {
  margin-top: 12px;
  color: green;
  text-transform: uppercase;
}

.caption {
  color: var(--theme-elevation-500);
}

.addToCartButton {
  width: 100%;
  margin-top: calc(var(--base) / 2);
}
