@import '../../../_css/common';

.empty {
  font-weight: 600;
}

.row {
  display: flex;
  align-items: center;
  gap: var(--base);

  @include small-break {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}

.rowContent {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);

  & > * {
    margin: 0;
  }
}

.itemsSummaryWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 22px;

  @include small-break {
    flex-direction: column;
  }
}

.summaryWrapper {
  display: flex;
  width: 30%;
  padding: 0 12px;
  flex-direction: column;
  gap: 8px;

  @include small-break {
    width: 100%;
    padding: 0;
  }
}

.items {
  width: 66%;

  @include small-break {
    width: 100%;
  }
}

.warning {
  margin: 0;
  color: var(--theme-warning-500);
}

:global([data-theme="light"]) {
  .warning {
    color: var(--theme-error-500);
  }
}

.placeholder {
  background-color: var(--theme-elevation-50);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
}

.titleLink {
  text-decoration: none;
}

.itemsTotal {
  margin-bottom: var(--base);
  // font-weight: 600;
}

:global([data-theme="dark"]) {
  .quantity {
    background-color: var(--theme-elevation-150);
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: calc(var(--base) / 2);
}

.cartTotal {
  margin: 0;
}

.checkoutButton {
  margin-top: var(--base);
  width: 100%;
}

.subWrapper {
  display: flex;
  justify-content: space-between;

  h5 {
    font-weight: normal;
  }
}