@import '../../_css/common';

.introContent {
  // position: relative;
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(30%, 1fr));
  width: 100%;
  gap: 30px;

  @include mid-break {
    grid-template-columns: repeat(2, 48%);
    gap: 20px;
  }

  @include small-break {
  grid-template-columns: 100%;
  }
}

.title {
  margin-top: 22px;
  margin-bottom: 16px;
}