@use "../../_css/queries.scss" as *;

.categorySection {
    width: 100%;
    margin-bottom: 22px;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 22px 0;

    a {
        text-decoration: none;
    }

    @include extra-small-break {
        h3 {
            font-size: 20px;
        }
    }
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;

    @include small-break {
        grid-template-columns: repeat(1, 1fr);
    }
}